<main>
    <h1 class="txtDefault">ChoiceMaker</h1>

    <section class="btnGroup">
        <button (click)="setActive(false)">Saved List</button>
        <button (click)="setActive(true)">Temp List</button>
    </section>

    <form *ngIf="isActive" [formGroup]="listForm">
        <h2 class="txtDefault">Create temp list</h2>
        <label for="name">Item</label> :
        <input type="text" name="name" id="name" formControlName="name" value="{{listForm.value.name}}">
        <button (click)="addTmpList()">Add</button>
        <button (click)="chooseTmpList()" class="largeBtn">Choose for me</button>
    </form>

    <form *ngIf="!isActive">
        <h2 class="txtDefault">Choose saved list</h2>
        <select name="list" id="list">
            <option *ngFor="let item of lists" (click)="select(item.name)" class="optionDefault">{{item.name}}</option>
        </select>
        <button (click)="choose()" class="largeBtn">Choose for me</button>
    </form>

    <section *ngIf="item" class="box">
        {{item}}
    </section>
</main>