// Imports
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Variables
$thGreenMenu: #239b56;
$thGreenMenuTxt: #d5f5e3;
$thGreenDelBtn: #b03a2e;
$thGreenDelTxt:  #fadbd8;
$thBlueMenu:  #2874a6 ;
$thBlueMenuTxt:  #d6eaf8;
$thYellowMenu:  #b7950b;
$thYellowMenuTxt: #fcf3cf;
$thRedMenu: #b03a2e;
$thRedMenuTxt:  #fadbd8;
$thRedDelBtn:  #922b21;
$thRedDelTxt:   #f2d7d5;
$thDarkMenu:#212f3d;
$thDarkMenuTxt: #d5d8dc;

// CSS
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 2vw;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: $thGreenMenuTxt;
    background-color: $thGreenMenu;
}

nav > a {
    display: block;
    margin: 1vh 1vw;
    width: 30vw;
    flex: 1;
    text-align: center;
    color: $thGreenMenuTxt;
}

nav a i {
    line-height: 2vh;
    font-size: 1.5rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1vh 0;
    color: $thGreenMenu;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: $thGreenMenu;
}

button {
    background: $thGreenMenu;
    border: none;
    border-radius: 4px;
    color: $thGreenMenuTxt;
    margin: 0.25vh 0.5vw;
    padding: 0.25vh 1vw;
}

.largeBtn {
    width: 100%;
    margin: 0;
}

.btnDel {
    background: $thGreenDelBtn;
    color: $thGreenDelTxt;
    padding: 0.25vh 0;
}

.btnGroup {
    width: 100%;
    margin: 1vh 0;
    display: flex;
    flex-direction: row;
}

.btnGroup button {
    width: 100%;
    margin: 0;
    border-right: #d5f5e3 1px solid;
    border-radius: 0;
    margin: none;
}

.btnGroup button:first-child {
    border-radius: 4px 0 0 4px;
}

.btnGroup button:last-child {
    border-radius: 0 4px 4px 0;
}

form .largeBtn {
    margin-top: 1vh;
}

section {
    margin: 1vh 0;
}

.hidden {
    visibility: hidden;
}

.box {
    border: $thGreenMenu 2px solid;
    border-radius: 8px;
    color: #239b56;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2vh 1vw;
    margin: 2vh 0;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    display: flex;
    flex-direction: row;
    border-bottom: $thDarkMenuTxt 1px solid;
}

ul li:first-child {
    border-bottom: none;
}

ul li:last-child {
    border-bottom: none;
}

ul li > * {
    flex: 1 2 0;
}

ul li span {
    flex: 3;
}

ul li span:last-child {
    margin-left: 2vw;
    flex: 9;
}

option {
    color: $thGreenMenu;
    background: $thGreenMenuTxt;
}

#theme option:nth-child(2) {
    color: $thBlueMenu;
    background: $thBlueMenuTxt;
}

#theme option:nth-child(3) {
    color: $thYellowMenu;
    background: $thYellowMenuTxt;
}

#theme option:nth-child(4) {
    color: $thRedMenu;
    background: $thRedMenuTxt;
}

#theme option:nth-child(5) {
    color: $thDarkMenu;
    background: $thDarkMenuTxt;
}

.colorDefault {
    color: $thGreenMenuTxt;
    background: $thGreenMenu;
}

.txtDefault {
    color: $thGreenMenu;
}

.colorBlue {
    color: $thBlueMenuTxt;
    background: $thBlueMenu;
}

.txtBlue {
    color: $thBlueMenu;
}

.colorYellow {
    color: $thYellowMenuTxt;
    background: $thYellowMenu;
}

.txtYellow {
    color: $thYellowMenu;
}

.colorRed {
    color: $thRedMenuTxt;
    background: $thRedMenu;
}

.txtRed {
    color: $thRedMenu;
}

.btnDelRed {
    background: $thRedDelBtn;
    color: $thRedDelTxt
}

.colorDark {
    color: $thDarkMenuTxt;
    background: $thDarkMenu;
}

.txtDark {
    color: $thDarkMenu;
}

.optionDefault {
    color: $thGreenMenu;
    background: $thGreenMenuTxt;
}

.optionBlue {
    color: $thBlueMenu;
    background: $thBlueMenuTxt;
}

.optionYellow {
    color: $thYellowMenu;
    background: $thYellowMenuTxt;
}

.optionRed {
    color: $thRedMenu;
    background: $thRedMenuTxt;
}

.optionDark {
    color: $thDarkMenu;
    background: $thDarkMenuTxt;
}
